html,
body {
  font-family: "Avenir";
  background-color: #eff1f3;
}
.header {
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo img {
  height: 48px;
}

/* Home - Start */
.background {
  --headerH: 144px;
  height: calc(100vh - var(--headerH));
  width: 50%;
  background: url(./../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.qrcode-container .qrcode-header .title {
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.qrcode-container .qrcode-header .subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #48c4a1;
}
.qrcode-container .qrcode-content img {
  margin-top: 64px;
}
li.nav-item {
  margin-left: 24px;
}
a.nav-link {
  padding: 4px 5px;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}
a.nav-link:hover {
  color: #333333;
  transition: 0.3s ease-in-out;
}
a.nav-link.active {
  color: #333333;
  border-bottom: 2px solid #12bcd0;
}
/* Home - End */

/* Signup - Start */
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
}
.signup-container .signup-header .signup-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.signup-container .signup-header .signup-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}
.signup-container .signup-content {
  margin-top: 48px;
  width: 100%;
}
.signup-container .signup-content .help span {
  color: #333333;
}
.signup-container .signup-content .form-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}
.signup-container .signup-content .form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  color: #4a56a7;
  padding: 0;
}
.signup-container .signup-content .form-control:focus {
  box-shadow: none;
}
.signup-container .signup-content .form-control::placeholder {
  color: #999999;
}
.signup-container .signup-content .password-toggle {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  color: #4a56a7;
  cursor: pointer;
}
.message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 600px;
  background-color: white;
  border-radius: 8px;
  margin-top: 120px;
}
.message-box .icon {
  width: 80px;
}
.message-box .message {
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  text-align: center;
}
/* Signup - End */

/* Button - Start */

.btn-custom {
  background: #4a56a7;
  box-shadow: 0px 5px 10px rgba(30, 61, 116, 0.25);
  border-radius: 100px;
  color: white;
  padding: 12px 42px;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-block {
  width: 100%;
}
.btn-ok {
  width: 232px;
}
/* Button - End */

.someBlock {
  background: #fff no-repeat 50% 50%;
  background-image: url("image.png"), url("http://www.picshare.ru/uploads/170127/Fny9X5rrN2.png");
  background-size: contain;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 50vh;
  margin: 5vh auto;
  position: relative;
}
